body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 0px 0px;
  background-color: #030303;
  color: #fff;
  border-bottom: 1px solid #717171;
}
.header img {
  max-height: 50px;
  cursor: pointer;
}
.header img.white-logo {
  margin-right: 15px;
}

.centered-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.menu {
  width: 70px;
  font-weight: bold;
  margin: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.menu {
  margin-right: 30px;
}

.menu img {
  width: 50px;
  height: auto;
  margin-right: 1px;
  justify-content: flex-start;
}

.menu img:hover {
  width: 50px; /* 마우스 호버 시 이미지 크기 변경 */
}

/* .logo {
  margin-right: 150px;
}
.logo img {
  width: 90px;
  margin-left: 5px;
} */

.main-name_desc {
  font-size: 20px;
  margin-left: 5px;
}

.login {
  display: flex;
  align-items: center;
}
.login-status {
  font-size: 15px;
  margin-left: 400px;
}

.login-status img {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.login-button {
  background-color: #3c3c3c;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.login-button:hover {
  background-color: #030303c4;
}
.header.login-active {
  /* 로그인 버튼 클릭 시 추가되는 클래스 */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  top: 1px;
  flex-wrap: wrap;
}
@media screen and (min-width: 500px) {
  .navigation {
    padding-bottom: 1000px; /* 원하는 높이로 조절하세요 */
  }
}
