body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 0px 0px;
  background-color: #030303;
  color: #fff;
  border-bottom: 1px solid #717171;
}

.menu {
  width: 70px;
  font-weight: bold;
  margin: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}

.menu {
  margin-right: 30px;
}

.menu img {
  width: 50px;
  /* height: auto; 이미지 크기 유지 */
  margin-right: 1px;
  justify-content: flex-start;
}

.menu img:hover {
  width: 50px; /* 마우스 호버 시 이미지 크기 변경 */
}

/* .logo {
  margin-right: 150px;
}
.logo img {
  width: 90px;
  margin-left: 5px;
} */

.main-name_desc {
  font-size: 20px;
  margin-left: 5px;
}

.login-status {
  font-size: 15px;
  margin-left: 400px;
}

.login-status img {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}
