* {
  font-family: "Roboto Mono";
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: #292929;
  border: 1px solid #48484877;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #878787;
}

.search-bar img {
  width: 30px;
}
.search-bar input {
  flex: 1;
  border: none;
  padding: 10px 50px;
  outline: none;
  background-color: #292929;
  width: 400px;
}

/* .search-bar button {
  background-color: #030303;
  color: #fff;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
} */
